@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        Please Login in to View the Application. After Login, Put Your mouse in Your user to use Drop down Menum.
    </div>
    <div>
        Click View Data to Enter System
    </div>
    <div class="display-4">
        I Have Create a User for Testing
    </div>
    <div class="display-4">
        Email:peter@com
    </div>

    <div class="display-4">
        Password:admin
    </div>

</div>
